<header class="header">
	<div class="container header__container">
		<a class="header__logo" href="#">{{mixins.icon('logo')}}</a>
		<a class="header__logo" href="#">{{mixins.icon('logo')}}</a>
		<a class="header__logo" href="#">{{mixins.icon('logo')}}</a>
		<!-- 		<a class="header__logo" href="#">{{mixins.icon('logo3')}}</a> -->
		<a class="header__logo" href="#"><img src="img/logo4.svg" alt="dsfs"></a>
		<ul class="header__menu">
			<li><a class="header__menu-link" href="#" data-hover="services">services</a></li>
			<li><a class="header__menu-link" href="#" data-hover="Contact">Contact</a></li>
		</ul>
	</div>
	<div class="container">
		<h1 class="title-lg header__title h1-js">NO ONE WANTS TO BE THE <br><span>SHEEP</span></h1>
		<div class="header__decor decor">
			<div class="decor__square decor-js"></div>
			<div class="decor__line decor-line-js"></div>
		</div>
		<img class="header__bg-img img-js" src="img/fc-bg.svg" alt="bg">
	</div>
</header>

