<header class="header">
	<div class="container header__container">
		<a class="header__logo" href="#"><img  src="img/logo.svg" alt="logo"></a>
		<ul class="header__menu">
			<li><a class="header__menu-link" href="#" data-hover="services">services</a></li>
			<li><a class="header__menu-link" href="#" data-hover="Contact">Contact</a></li>
		</ul>
	</div>
	<div class="container">
		<h1 class="title-lg header__title">NO ONE WANTS TO BE THE <br><span>SHEEP</span></h1>
		<div class="header__decoration"></div>
		<img class="header__bg-img" src="img/fc-bg.svg" alt="bg">
	</div>
</header>

